For your final project you will be creating a Web site for something that interests you.  The site can be a real or fictional site. Ideas might include sites such as:

    ...
    Create a fan site for something you love
    ...

The final assignment must be posted to your ftp folder in order to be graded.  The final project files should be located in a folder within your main folder (public_html) called "final".  The first file should be index.htm.

You will need to "story board" your site first, and then begin development.  The storyboard information should be posted to the class Web site with the required information by the required date.  If there is not a approved storyboard for the final project it will not be reviewed or graded.

Please note the due date of this assignment as late submissions will not be accepted.

Note:  This Web site must be a new site and can not be a recycled version of your lab exercises.  Recycled labs that are submitted as final projects will not be graded.
The minimum requirements are as follows:

    The site must be written in HTML5 and validate.  Projects not using this DOCTYPE will not be accepted or graded.
    Your site must include at least 5 pages (try not to go over 10 pages).
    All formatting and layout for the site must be done using CSS. The majority of your CSS should be contained in an external CSS file.
    You must include <meta> tags on all pages.
    You must utilize unique images on every page.
    You must use links that reference other pages in your site as well as other sites on the Internet.
    You must use at least one table to display relevant data regarding your site.
    You must use at least one fill-in form that includes radio buttons or check boxes, multiple text boxes, a text area, and submit button. 
    The form should send via PHP to webdevteacher@gmail.com. Please do all form testing with your own e-mail address and then change it to webdevteacher@gmail.com once it is ready.
    You should have at least one list on the site.
    You should include at least one multimedia element on your site.  This element must be on the page and cannot be a link to outside content or outside content shown in an iframe.
    You must include at least two examples of JavaScript on the site. Ways that JavaScript might be used might include:
        Create pop-up windows
        Validate form data
        Show the current date or time
        Add tool-tips to links
        Show a random image on a page
        Swap images when the user rolls over and element
        Show the last modified date of the page
        Create conditional messages on the page (such as varying content by the time of day)
        Add a date picker to a form field
        Process numbers or calculate values
        Rotate images or banner ads
        Any other JavaScript that adds interactivity to the site
    Your pages must load within acceptable limits (under 2 seconds use http://gtmetrix.com/ for metrics).
    Besides the above your site should show creativity, accessibility, and good design and usability in the overall concept of the site.

Your site will be graded on content, architecture, creativity, navigation, and overall design quality (it must work!).

Include a text file (.txt format) called readme.txt in the final folder.  In this document let me know what pages contain the JavaScript code  and on what page the multimedia file is located.  Also share any other special features of the site, or any items that may be "hidden" that you would like me to know about.